.ui95__window-buttons {
  display: flex;
  margin: 2px 2px 0 4px;
}
.ui95__window-buttons .ui95-button {
  width: 16px;
  height: 14px;
  display: inline-block;
}
.ui95__window-buttons .ui95-icon {
  width: 12px;
  height: 10px;
  position: absolute;
  left: var(--px);
  top: var(--px);
}
.ui95__window-buttons .ui95-button--close {
  margin-left: 2px;
}

@media (pointer: coarse) {
  .ui95__window-buttons {
    margin: calc(2px * var(--touch-scale)) calc(2px * var(--touch-scale)) 0
      calc(4px * var(--touch-scale));
  }
  .ui95__window-buttons .ui95-button {
    width: calc(16px * var(--touch-scale));
    height: calc(14px * var(--touch-scale));
  }
  .ui95__window-buttons .ui95-icon {
    transform-origin: top left;
    transform: scale(var(--touch-scale));
  }
}
