.ui95-window--explorer .ui95-scrollable-container__scrollable {
  display: flex;
  padding: 0;
}
.ui95-explorer-columns__left {
  background: white url("./explorer-background.png");
  width: 300px;
  min-width: 300px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .ui95-explorer-columns__left {
    min-width: 140px;
  }
}

.ui95-explorer-columns__folder-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.ui95-explorer-columns__right {
  overflow: scroll;
  flex-grow: 1;
}
