.ui95-tabdialog__header {
  display: flex;

  align-items: center;
  margin-bottom: 10px;
}
.ui95-tabdialog__header h1 {
  flex: 1;
  margin-left: 16px;
}

.ui95-tabdialog__util {
  text-align: right;
}
.ui95-button--tabdialog-util {
  width: 75px;
  height: 23px;
  display: inline-block;
  margin-top: 7px;
  margin-left: 7px;
}

.ui95-window--tabdialog dd {
  margin: 0;
  padding: 0;
}
.ui95-tabdialog__values {
  padding: 10px 0 0;
}

.ui95-tabdialog__values > p {
  display: flex;
  margin-bottom: 10px;
}

dt.ui95-tabdialog__key {
  display: block;
  padding: 0 8px 0 0;
  text-align: right;
  min-width: 64px;
}
