.ui95-startmenu__branding {
  position: absolute;
  background: var(--highlightBackground);
  background-image: linear-gradient(
    to top,
    var(--highlightBackground),
    var(--highlightBackground2)
  );
  color: var(--highlightForeground);
  line-height: 21px;
  left: var(--px);
  top: var(--px);
  bottom: var(--px);
  font-size: 16px;
  width: 21px;
  font-family: system;

  background-repeat: no-repeat;
  background-position: center bottom;
}

.ui95-startmenu__branding-rotated {
  position: absolute;
  left: 100%;
  bottom: 0;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  width: 100px;
  padding-left: 5px;
  white-space: nowrap;
}
.ui95-startmenu__branding-rotated > :first-child {
  /* weird hack to fake a super-bold font */
  text-shadow: -0.5px -0.5px 0 var(--highlightForeground),
    0.5px -0.5px 0 var(--highlightForeground),
    -0.5px 0.5px 0 var(--highlightForeground),
    0.5px 0.5px 0 var(--highlightForeground);
}
