.photo-sphere-viewer-app {
  margin: 2px;
  width: auto;
  border: none;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
  background: pink;
  display: flex;
}

.photo-sphere-viewer-app__container {
  position: relative;
  flex: 1;
}
