.ui95-start {
  display: flex;
  background: var(--gray);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  padding: 2px;
  border-top: 1px solid white;
  box-shadow: 0 calc(-1 * var(--px)) 0 var(--graylight);
  z-index: 90;
}

.ui95-start > * {
  margin-right: 4px;
}

.ui95-start .ui95-button--window {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: start;
  padding-left: 2px;
}
