.ui95-divider--horizontal {
  display: block;
  border-top: var(--px) solid var(--grayDark);
  border-bottom: var(--px) solid var(--white);
}
.ui95-divider--vertical {
  display: block;
  width: var(--px);
  min-height: 16px;
  border-left: var(--px) solid var(--grayDark);
  border-right: var(--px) solid var(--white);
}
.ui95-divider--draggable {
  display: block;
  width: var(--px);
  min-height: 16px;
  border-left: var(--px) solid var(--white);
  border-top: var(--px) solid var(--white);
  border-right: var(--px) solid var(--grayDark);
  border-bottom: var(--px) solid var(--grayDark);
}
