.formbuilder__sidebyside {
  display: flex;
}
.formbuilder__reset {
  margin: 0;
  padding: 0;
  border: 0;
}

.formbuilder__margin-right {
  margin-right: 8px;
}
.formbuilder__margin-bottom {
  margin-bottom: 8px;
}
.formbuilder__center {
  display: flex;
  align-items: center;
}
.formbuilder__relative {
  position: relative;
  flex: 1;
}
