.ui95-toolbar-stacked {
  border: var(--px) solid transparent;
  background: transparent;
  display: block;
  padding: 0;
  width: 52px;
  height: 52px;
}

.ui95-toolbar-stacked:hover,
.ui95-toolbar-stacked.hover {
  border-color: var(--white) var(--grayDark) var(--grayDark) var(--white);
}

.ui95-toolbar-stacked:active,
.ui95-toolbar-stacked.active {
  border-color: var(--grayDark) var(--white) var(--white) var(--grayDark);
}

.ui95-toolbar-stacked--text {
  padding: 2px 4px;
}

.ui95-toolbar-stacked .ui95-icon {
  padding: 1px 2px;
  margin: 0 2px;
  filter: grayscale(100%);
}
.ui95-toolbar-stacked:hover .ui95-icon,
.ui95-toolbar-stacked:hover .ui95-icon,
.ui95-toolbar-stacked:focus .ui95-icon,
.ui95-toolbar-stacked:focus .ui95-icon {
  filter: none;
}
