.ui95-startmenu {
  position: absolute;
  left: 0;
  bottom: calc(24 * var(--px));
  background: var(--gray);
  color: black;
  border: none;
  border: var(--px) solid black;
  border-color: var(--white) var(--black) var(--black) var(--white);
  min-height: calc(22 * var(--px));
  font-family: system;
  font-size: calc(10 * var(--px));
  padding: calc(2 * var(--px));
  min-width: calc(190 * var(--px));
  z-index: 100;
}

.ui95-startmenu--open {
  display: block;
}

.ui95-startmenu--closed {
  display: none;
}
@keyframes ui95-startmenu {
  from {
    --top: 100%;
    clip-path: polygon(0% var(--top), 0% 100%, 100% 100%, 100% var(--top));
  }
  to {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

.ui95-startmenu-entries {
  display: flex;
  flex-direction: column;
  margin-left: calc(22 * var(--px));
}
.ui95-startmenu-entry {
  line-height: calc(36 * var(--px));
  cursor: pointer;
  padding-left: 40px;
  margin-left: calc(-2 * var(--px));
  margin-right: calc(-1 * var(--px));
  display: flex;
  justify-content: space-between;
}
.ui95-startmenu-entry .ui95-icon--chevronBlackRight,
.ui95-startmenu-entry .ui95-icon--chevronWhiteRight {
  margin-right: 7px;
}
.ui95-startmenu-entry:not(:hover) .ui95-icon--chevronWhiteRight {
  display: none;
}
.ui95-startmenu-entry:hover .ui95-icon--chevronBlackRight {
  display: none;
}

.ui95-startmenu-entry:hover,
.ui95-startmenu-entry:active,
.ui95-startmenu-entry:focus {
  background: var(--highlightBackground);
  color: var(--highlightForeground);
}

.ui95-startmenu-entry > .ui95-menu,
.ui95-startmenu-entry > .ui95-menu,
.ui95-startmenu-entry > .ui95-menu {
  display: none;
}
.ui95-startmenu-entry:hover > .ui95-menu,
.ui95-startmenu-entry:active > .ui95-menu,
.ui95-startmenu-entry:focus > .ui95-menu {
  display: block;
  position: absolute;
  left: 100%;
}

.ui95-startmenu__branding {
  position: absolute;
  background: var(--highlightBackground);
  color: var(--highlightForeground);
  line-height: calc(21 * var(--px));
  left: var(--px);
  top: var(--px);
  bottom: var(--px);
  width: calc(21 * var(--px));
  font-size: calc(14 * var(--px));
  background-image: url("data:image/gif;base64,R0lGODdhFQBtAOMLAAAzzAAz/wAAmQAzmQAAzAAAZjMz/zMAmTMAzDMzmTMzzAQz/wQz/wQz/wQz/wQz/ywAAAAAFQBtAAAE/vAMIems+E4hZgFFJ05DuCXkyJkcoIpqCpagmIhfDu4xl/49gYnlE9Y8gEGyNfq8PMZcEQZcAoE6Key26VKDvJRg5/RyRa4BEO3kfV3s9KE4gV+p4urUHaePe2k+bnobgWiFLW1jiogyI3OOjm4uAJSLljxWX3UqgZhMmX9KfzwKlJScdh2ofYGjn6Sxn2mYr3WYn6Njs7K7f71JtMCnvsO+lceVp7PEvMukyMrLyi3RzcXP1Nbb1tAABC7gY+Lg35UI5rvm693a7Mrg8ZXy6PPm5fjv9fnyp/3r+eYFAPgtID97/eQpvAdg4LqB5QZCbMhQ4sOK5iTKG2gAnMWP/hkxTlw4MYBFcAhMmmyo8WQAAicFfnNJcSbLlS8proTJsqHCjx59QuRoAKdJjy9B5tSos+lRnASK+mTJc6lQpyqFqsTJsujSqhSR7pRolOzWmRzNkvUoViXMqkm3nk07V6naj3HlwkzaVa7WrHoBy1UL16vfwYgFJ14cuKdixokNQ55MubLly5gza6bsmGznvppv8n06eO9jpTrVpg5sdK/roTa3epRq9uZUz7R1iqXquSpYtmGHdnQ42mlTgUHfBrfJs2bzkuYM6GYeMvk74mGdZydgkKDDcvsIMkTJ7uA7aefhIVw4HkB4aeXcR1PnS5y9ZNDo4yq3yz4cd7EMSPNfftII6AwoARJIyi0LsoKGAKaA4YQsG8QiwwdrqDHDg1XosIILWYDYwxl3cELEAJAI4QcJZTQxRh4fdsBCCDiQ0QGMqxQQAQA7");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.ui95-startmenu__branding-rotated {
  position: absolute;
  left: 100%;
  bottom: 0;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  width: calc(100 * var(--px));
  padding-left: calc(5 * var(--px));
}
.ui95-startmenu__branding-rotated > :first-child {
  font-weight: bold;
}
