.ui95-menuitem.ui95-menuitem--submenu {
  padding-right: calc(var(--px) * 20);
}
.ui95-menuitem--submenu .ui95-icon--chevronBlackRight,
.ui95-menuitem--submenu .ui95-icon--chevronWhiteRight {
  position: absolute;
  right: 7px;
  top: calc(50% - calc(var(--px) * 3.5));
}
.ui95-menuitem--submenu:not(:hover) > span > .ui95-icon--chevronWhiteRight {
  display: none;
}
.ui95-menuitem--submenu:hover > span > .ui95-icon--chevronBlackRight {
  display: none;
}

.ui95-menuitem--submenu .ui95-menu,
.ui95-menuitem--submenu .ui95-menu {
  display: none;
  background: red;
}

.ui95-menuitem--submenu:hover > .ui95-menu,
.ui95-menuitem--submenu:focus > .ui95-menu {
  display: block;
}
