@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
.ui95-desktop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-primary-alt);
  padding: 0;
  margin: 0;
  height: 100vh;
}
