.ui95-window--blog-article .ui95-recess {
  position: absolute;
  left: calc(2 * var(--px));
  right: calc(2 * var(--px));
  top: calc(69 * var(--px));
  bottom: calc(2 * var(--px));
}

.ui95-window--blog-article .videoWrapper {
  width: auto;
  height: 0;
  position: relative;
  padding-bottom: calc(9 / 16 * 100%);
}

.ui95-window--blog-article .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
